# --- 1. AI MODELS ---
GEMINI_API_KEY= 

# --- 2. SQL SERVER DATABASE ---

DB_SERVER=
DB_DATABASE=        
DB_USERNAME=                          # Tên đăng nhập 
DB_PASSWORD= 
DB_DRIVER= ODBC Driver 17 for SQL Server  

# --- 3. MLOps  (LangSmith Tracing - Rất quan trọng cho RAG) ---
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY= 
LANGCHAIN_PROJECT= RAG_ECOMMERCE_B2C_PROJECT

ANONYMIZED_TELEMETRY=False